
.mainbody{
position: relative;
width: 100%;
height: 100vh;
background: linear-gradient(191.53deg, #79F2EC 0%, #14518E 100%);
}

/* Rectangle 1 */

.rectangle1{
    position: relative;
    height: 630px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    background: linear-gradient(23.55deg, #080D0D 75.24%, #173B4D 97.12%);
    border-radius: 35px;
   opacity: 0.97;
}


