.pagination {
    display: inline-block;
    justify-content: space-evenly;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
}
  
  .pagination .btn {
    color: black;
    padding: 8px 16px;
    text-decoration:dotted;
    cursor: pointer;
  }
  
  .pagination .btn:hover{
    background-color: #000000;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 20px;
}